* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  padding: 20px 0;
  color: white;
}
.scoreBoard {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin: 10px auto;
}

.square {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.gameOver {
  background-color: gray;
  pointer-events: none;
}

.buttons {
  display: flex;
  justify-content: center;
}
